.reset-div {
	width: 150px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.reset {
	display: none;
	width: 100%;
	height: 80%;
	width: 80%;
	border-radius: 15px;
	font-size: 16px;
	background-color: lightgray;
}

.reset:hover {
	cursor: pointer;
	background-color: rgb(151, 131, 131);
}

.main-page {
	display: none;
	justify-content: center;
}

.header {
	font-weight: bold;
	font-size: 18px;
}

.table-style {
	margin: 20px;
	display: block;
	max-height: 600;
	overflow-y: auto;
	border-collapse: collapse;

	> tr {
		margin: 10px;
	}
}

td {
	border: 1px solid black;
	padding: 10px 10px;

}

tr:nth-child(even){
	background-color: lightgray;
}

.map-style {
	max-width: 800;
	max-height: 600;
	background-color: lightblue;
	stroke: black;
	stroke-width: 0.1;
	fill: #90e9c9;
	border: 1px solid black;
	margin: 20px;
	cursor: pointer;
}


.clickable {
	color: blue;
	text-decoration: underline;
}

.clickable:hover {
	cursor: pointer;
	background-color: lightblue;
}

.plane-icon {
	background: none;
}

.reset-paths {
	display: none;
}
