body {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	width: 100vw;
}

.home-search {
	position: absolute;
	top: 50%;
	z-index: 5;
	> p {
		font-size: 50px;
		padding: 20px 20px;
		text-align: center;
	}
}

.search-bar {
	width: 100%;
	max-width: 1000px;
	display: flex;
	justify-content: center;
	background-color: lightgray;
	border-radius: 15px;

	> input {
		border: 1px solid black;
		border-radius: 15px;
		background: transparent;
		padding: 20px 15px;
		width: 600px;
		font-size: 20px;
	}
}

.search-button {
	height: 65px;
	width: 65px;
	padding: 5px 5px;
	border-radius: 50%;
	background-color: lightblue;

	> img {
		height: 100%;
		width: 100%;
	}	
}
.search-button:hover {
	cursor: pointer;
}

.main-page {
	display: none;
	justify-content: center;
}

.header {
	font-weight: bold;
	font-size: 18px;
}

.table-style {
	margin: 20px;
	display: block;
	max-height: 600;
	overflow-y: scroll;
	
	> tr {
		margin: 10px;
	}
}

td {
	border: 1px solid black;
	padding: 10px 10px;

}

tr:nth-child(even){
	background-color: lightgray;
}

.map-style {
	max-width: 800;
	max-height: 600;
	background-color: lightblue;
	stroke: black;
	stroke-width: 0.3;
	fill: teal;
	border: 1px solid black;
	margin: 20px;
}

#background {
	/* position: fixed; */
	/* top: 0; */
	/* right: 0; */
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.clickable:hover {
	cursor: pointer;
}